/* ==========================
    information
========================== */
.information{
    height: 60px;
    justify-content: space-between;
    background-color: #0B0600;
    align-items: center;
}
.information>ul{
    width: 100%;
    justify-content: center;
}
.information li{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding: 0 32px;
}
.information span{
    padding-right: 15px;
    font-weight: 800;
    color: var(--main-yellow);
}
.total_res{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 250px;
    background-color: var(--main-yellow);
    line-height: 60px;
    color: #000;
    font-weight: 600;
    font-size: 18px;
}
.total_res .icon{
    display: inline-block;
    width: 19px; height: 11px;
    background-image: url(../img/check.svg);
}
.total_res:hover>.icon{
    background-image: url(../img/check_red.svg);
}
/* ==========================
    header
========================== */
header{
    height: 100px;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
nav a{
    display: block;
    height: 100px;
    line-height: 100px;
    font-size: 18px;
    font-weight: 800;
    color: #000;
    letter-spacing: -1px;
    margin: 0 32px;
    position: relative;
}
nav a::after{
    content: '';
    display: block;
    width: 0; height: 3px;
    background-color: var(--main-red);
    position: absolute;
    bottom: 0; left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}
nav a:hover::after{
    width: 100%;
}
nav{
    padding-right: 30px;
}
nav li{
    position: relative;
}
nav li + li::before{
    content: '';
    display: block;
    width: 4px; height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.25);
    position: absolute;
    top: calc(50% - 2px);
}
.util_wrap{
    align-items: center;
}
.util_wrap a{
    display: block;
    margin-left: 28px;
}
.lang_btn>a{
    width: 26px; height: 26px;
    background-image: url(../img/arth.svg);
}
.ham_btn>a{
    width: 23px; height: 21px;
    background-image: url(../img/ham.svg);
}
.lang_btn>a:hover{
    background-image: url(../img/arth_red.svg);
}
.ham_btn>a:hover{
    background-image: url(../img/ham_red.svg);
}
/* ==========================
    main
========================== */
/* search */
.main_top{
    padding-top: 50px;
}
.search_wrap{
    width: 446px;
    margin: 0 auto;
}
.search{
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #000;
}
.search>input{
    border: none;
    background: none;
    line-height: 48px;
}
.search>input[type="text"]{
    width: 100%;
    padding: 0 20px;
}
.search>input[type="text"]:focus{
    outline: 1px dashed;
}
.search .search_btn{
    cursor: pointer;
    display: block;
    width: 38px; height: 38px;
    background-color: #000;
    border-radius: 50%;
    background-image: url(../img/search_btn.svg);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 3.24px 8.09999942779541px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}
.search_btn:hover{
    background-color: var(--main-red);
}
/* hashtag slide */
.hash_slide .slider{
    margin-top: 20px;
    width: 82%;
    overflow: hidden;
}
.hash_slide .slide_box{
    width: 300%;
    gap: 10px;
}
.hash_slide .controller{
    position: absolute;
    top: 0;
    right: 0;
}
.hash_slide .controller button{
    width: 22px; height: 22px;
    border: 1px solid #000;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
}
.hash_slide .prev{
    background-image: url(../img/arrow_left.svg);
}
.hash_slide .pause{
    background-image: url(../img/pause.svg);
}
.hash_slide .next{
    background-image: url(../img/arrow_right.svg);
}
.hash_slide .prev:hover{
    background-image: url(../img/arrow_left_red.svg);
}
.hash_slide .pause:hover{
    background-image: url(../img/pause_red.svg);
}
.hash_slide .next:hover{
    background-image: url(../img/arrow_right_red.svg);
}
/* section1 */
.sec1{
    margin-top: 31px;
}
.sec1 .inner{
    position: relative;
}
.weather{
    position: absolute;
    right: 10px; bottom: 100%;
    align-items: center;
}
.weather>.w_item{
    color: #222;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.14px;
    align-items: center;
}
.weather>.w_item>span{
    display: inline-block;
    width: 43px; height: 50px;
    background-image: url(../img/w-icon1.png);
}
.weather>.w_item::after{
    content: '';
    display: block;
    width: 1px; height: 12px;
    background-color: #ccc;
    margin: 0 8px;
}
.w_dust{
    font-size: 14px;
    font-weight: 700;
    color: #1D519D;
    letter-spacing: -0.14px;
}
.w_temp{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.8px;
    margin: 0 8px;
}
.w_icon{
    width: 95px; height: 88px;
    background-image: url(../img/w-ch1.png);
}
/* main slide */
.main_slide .slider{
    width: 100%;
    overflow: hidden;
}
.main_slide .slide_box{
    width: 300%;
}
.main_slide .slide_box img{
    width: 1420px;
}
.main_slide .controller{
    position: absolute;
    right: 10px; bottom: 5px;
    gap: 1px;
}
.main_slide .controller button{
    width: 70px; height: 70px;
    transition: 0.3s;
    border: none;
}
.main_slide .prev{
    background:rgba(0,0,0,0.4) url(../img/image_arrow1.svg) no-repeat center center;
}
.main_slide .pause{
    background:#000 url(../img/image_arrow2.svg) no-repeat center center;
}
.main_slide .next{
    background:rgba(0,0,0,0.4) url(../img/image_arrow3.svg) no-repeat center center;
}
.main_slide .prev:hover, .main_slide .next:hover{
    background-color: #000;
}
.main_slide .pause:hover{
    background-color: var(--main-red);
}
/* section2 */
.sec2{
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 124px 10px 0;
}
.sec2>article{
    width: calc(100% - 84px - 395px);
}
.notice{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 27px;
}
.notice>h2{
    font-size: 42px;
    font-weight: 800;
    letter-spacing: -0.45px;
}
.noti_list{
    align-items: center;
}
.noti_list .active{
    color: var(--main-red);
}
.noti_list li{ cursor: pointer;
    font-size: 27px;
    font-weight: 600;
    color: #888;
    position: relative;
    padding: 0 20px;
}
.noti_list li:hover{
    color: var(--main-red);
}
.list_dots>li + li::before{
    content: '';
    display: block;
    width: 5px; height: 5px;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 2.5px);
    left: -7px;
}
.more_plus{
    width: 36px; height: 36px;
    background-image: url(../img/plus_btn.svg);
    transition-duration: 0.6s;
}
.more_plus:hover{
    background-image: url(../img/plus_btn_red.svg);
    transform: rotate(90deg);
}
.noti_txt{
    gap: 54px;
    padding-top: 48px;
    border-top: 2px solid #000;
}
.noti_txt li{ cursor: pointer;
    flex: 1;
}
.noti_txt h3{
    height: 53px;
    font-size: 20px;
    color: #231f20;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.noti_txt li:hover h3{
    text-decoration: underline;
}
.noti_txt p{
    height: 44px;
    font-size: 15px;
    color: #444;
    letter-spacing: -0.15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 16px;
}
.noti_txt div{
    color: #999;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.15px;
    margin-top: 52px;
}
.popup_wrap{
    position: relative;
    box-shadow: 3px 10px 25px 10px rgba(0, 0, 0, 0.10);
}
.popup_wrap>div{
    font-size: 0;
}
.popup_zone{
    position: absolute;
    width: 17px; height: 136px;
    background-image: url(../img/popup_zone.svg);
    top: 0; right: -41px;
}
.service_wrap{
    width: calc(100% - 84px - 395px);
    height: 160px;
    margin-top: -160px;
    background-color: #2C354E;
    background-image: url(../img/notice_tit_img.svg);
    background-repeat: no-repeat;
    background-position: 34px 0;
    align-items: center;
}
.service_wrap>h3{
    width: 195px;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: -0.27px;
    color: #fff;
    text-align: right;
}
.service_wrap>h3>span{
    font-weight: 700;
}
.service_wrap>ul{
    width: calc(100% - 190px);
}
.service_wrap>ul>li{
    width: 25%;
}
.service_wrap>ul>li + li{
    border-left: 1px dashed rgba(255,255,255,0.3);
}
.service_wrap a{
    width: 100%; height: 73px;
    display: block;
    padding-top: 57px;
    background-repeat: no-repeat;
    background-position: center top;
}
.ser_icon1>a{
    background-image: url(../img/notice_img1.svg);
}
.ser_icon2>a{
    background-image: url(../img/notice_img2.svg);
}
.ser_icon3>a{
    background-image: url(../img/notice_img3.svg);
}
.ser_icon4>a{
    background-image: url(../img/notice_img4.svg);
}
.service_wrap p{
    color: #fff;
    text-align: center;
}
/* section3 */
.sec3{
    background-color: #FCF8F8;
    margin-top: 81px;
}
.calendar{
    height: 211px;
    justify-content: space-between;
    align-items: center;
}
.today{
    text-align: center;
}
.today>h3{
    font-size: 85px;
    font-weight: 800;
}
.today>p{
    font-size: 24px;
    font-weight: 300;
    margin-top: 5px;
}
.today>p>span{
    font-weight: 700;
}
.date{
    text-align: center;
    align-items: center;
    gap: 16px;
}
.date_wrap>li{
    padding: 0 16px;
    color: #222;
}
.date_wrap div{
    font-size: 19px;
    font-weight: 800;
    margin-bottom: 15px;
}
.date_wrap p{
    font-size: 17px;
    font-weight: 400;
}
.date_blue>div, .date_blue>p{
    color: #2A52B9;
}
.date_prev{cursor: pointer;
    width: 18px; height: 32px;
    background-image: url(../img/date_arrow_prev.svg);
}
.date_next{cursor: pointer;
    width: 18px; height: 32px;
    background-image: url(../img/date_arrow_next.svg);
}
.event_btn{
    width: 182px; height: 60px;
    line-height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    padding-left: 25px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
    align-items: center;
    gap: 10px;
}
.event_btn>span{
    display: block;
    width: 20px; height: 20px;
    background-image: url(../img/plus_btn2.svg);
    transition: 0.3s;
}
.event_btn:hover{
    background-color: #000;
    color: #fff;
}
.event_btn:hover>span{
    background-image: url(../img/plus_btn_white.svg);
}
/* section4 */
.sec4{
    margin-top: 192px;
    justify-content: space-between;
}
.sec4>div{
    width: 395px; height: 556px;
    align-items: center;
    background-color: #FAFAFA;
    box-shadow: 3px 10px 25px 0px rgba(0, 0, 0, 0.10);
}
.sec4>div>img{
    width: 100%;
}
.notice>h2>span{
    color: rgba(204, 204, 204, 0.80);
}
.sec4>article{
    width: calc(100% - 526px);
}
.sec4 .more_plus{
    visibility: hidden;
}
.edu_cul_wrap>li>a{
    padding: 29px 0;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}
.edu_cul_list_wrap{
    width: calc(100% - 114px);
    justify-content: space-between;
    align-items: center;
}
.box{
    width: 94px; height: 94px;
    line-height: 94px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
.edu{
    background-color: #DD1227;
}
.cul{
    background-color: #222222;
}
.edu_cul_list>div{
    display: inline-block;
    min-width: 92px;
    text-align: center;
    font-size: 14px;
    color: #222;
    font-weight: 600;
    padding: 8px;
    border: 1px solid #ccc;
}
.edu_cul_list>h4{
    font-size: 20px;
    font-weight: 700;
    color: #222;
    margin-top: 6px;
}
.edu_cul_list>p{
    font-size: 15px;
    color: #444;
    font-weight: 400;
    margin-top: 18px;
}
.edu_cul_list>p>span{
    margin-left: 30px;
    position: relative;
}
.edu_cul_list>p>span::after{
    content: '';
    display: block;
    width: 1px; height: 12px;
    background-color: #ccc;
    position: absolute;
    left: -17px; top: calc(50% - 6px);
}
.edu_cul_arrow{
    width: 42px; height: 42px;
    background-image: url(../img/bar_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: 0.3s;
}
.edu_cul_wrap>li>a:hover{
    border-bottom: 1px solid #000;
}
.edu_cul_wrap>li>a:hover .edu_cul_arrow{
    background-color: #000;
    background-image: url(../img/bar_arrow_white.svg);
}
.close{
    display: flex;
    position: relative;
}
.close::before{
    content: '접수마감';
    display: block;
    position: absolute;
    left: -100px; top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 20px;
    font-weight: 600;
}
/* section5 */
.sec5{
    justify-content: space-between;
    height: 770px;
    margin-top: 185px;
}
.sec5>article{
    width: calc(100% - 490px);
    height: 100%;
    background-image: url(../img/exhibition1.jpg);
    background-repeat: no-repeat;
    position: relative;
}
.exhi_wrap{
    width: 470px; height: 100%;
    background-color: #0A2365;
    background-image: url(../img/bg_img.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-top: 135px;
}
.exhi_wrap h6{
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 23.6px;
}
.exhi_wrap h4{
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-top: 13px;
    letter-spacing: -0.5px;
}
.exhi_list{
    width: 100%;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
}
.exhi_list>li{
    width: 370px; height: 120px;
}
.line{
    position: absolute;
    width: calc(100% - 169px);
    align-items: center;
    justify-content: space-between;
    right: 69px; top: 52%;
}
.line>div{
    width: calc(100% - 110px);
    height: 2px;
    background-color: #fff;
}
.line>span{
    display: block;
    width: 72px; height: 72px;
    background-image: url(../img/plus_btn_white3.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.4s;
}
.line span:hover{
    transform: rotate(90deg);
}
.exhi_list>li div{
    line-height: 46px;
}
.exhi_list>li div>div{
    width: 46px; height: 46px;
    border: 1px solid #fff;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.exhi_list>li:first-child div>div{
    background-color: #fff;
    color: #0A2365;
}
.exhi_list>li div>p{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.22px;
    margin-left: 15px;
}
.exhi_list>li>a>p{
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    margin-top: 11px;
}
.thum_box>a{
    display: flex;
    width: 470px; height: 100%;
    align-items: flex-end;
    background-image: url(../img/exhibition2.jpg);
    background-size: 100% 100%;
    background-position: center center;
    transition: 0.4s;
}
.thum_box>a:hover{
    background-size: 110% 110%;
}
.thum_box>a>div{
    width: 100%; height: 260px;
    background-color: #000;
    padding: 71px 24px 0 58px;
}
.thum_box>a>div>h4{
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.72px;
    display: flex;
    justify-content: space-between;
}
.thum_box>a>div>h4>span{
    display: inline-block;
    width: 36px; height: 36px;
    background-image: url(../img/plus_btn_white2.svg);
    background-repeat: no-repeat;
    transition: 0.3s;
}
.thum_box>a:hover span{
    transform: rotate(90deg);
}
.thum_box>a>div>p{
    font-size: 15px;   
    font-weight: 400;
    letter-spacing: -0.3px;
    color: #fff;
    margin-top: 30px;
}
/* section6 */
.sec6{
    margin-top: 128px;
    padding-bottom: 91px;
}
.rev_title{
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 59px;
}
.rev_title::after{
    display: block;
    content: '';
    width: 1920px; height: 2px;
    background-color: #ccc;
    position: absolute;
    right: 0;
    bottom: 0;
}
.rev_title>h2{
    font-size: 45px;
    font-weight: 800;
    position: relative;
}
.rev_title>h2::after{
    display: block;
    content: '';
    width: 129px; height: 2px;
    background-color: var(--main-red);
    position: absolute;
    bottom: -34px;
    z-index: 1;
}
.rev_count{
    align-items: center;
}
.rev_count>div{
    align-items: center;
}
.rev_count>div>span{
    font-size: 85px;
    font-weight: 800;
    color: #002078;
    margin-right: 8px;
}
.rev_count>div>p{
    font-size: 27px;
    font-weight: 600;
}
.rev_count .more_plus{
    margin-left: 40px;
}
/* review_slide */
.review_slide .slider{
    width: 100%;
    overflow: hidden;
}
.review_slide .slide_box{
    width: 300%;
}
.review_slide .slide{
    width: 355px;
    padding: 0 28px;
    text-align: center;
}
.review_slide img{
    height: 162px;
    margin-bottom: 38px;
}
.review_slide .rev_txt{
    text-align: left;
    color: #000;
}
.review_slide .rev_txt>h3{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.44px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 12px;
}
.review_slide .rev_txt>p{
    height: 43px;
    color: #444;
    font-size: 15px;
    letter-spacing: -0.3px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.review_slide .rev_name{
    margin-top: 37px;
}
.review_slide .rev_name>li{
    font-size: 14px;
    letter-spacing: -0.28px;
    color: #999;
}
.review_slide .rev_name>li:first-child{
    color: #0A2365;
}
.review_slide .rev_name>li:first-child::after{
    display: inline-block;
    content: '';
    width: 1px; height: 10px;
    background-color: #ccc;
    margin: 0 10px;
}
.review_slide .controller{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    left: -4%;
    width: 110%;
    display: flex;
    justify-content: space-between;
}
.review_slide .controller button{
    width: 20px; height: 35px;
    transition: 0.3s;
    border: none;
    background-color: transparent;
}
.review_slide .prev{
    background-image: url('../img/rev_img1.svg');
}
.review_slide .next{
    background-image: url('../img/rev_img2.svg');
}

/* footer */
footer{
    background-color: #111;
    padding: 38px 0;
}
.f_top{
    justify-content: space-between;
    align-items: center;
}
.f_menu>li>a{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    position: relative;
    transition: 0.2s;
}
.f_menu>li + li::before{
    display: inline-block;
    content: '';
    width: 1px; height: 13px;
    background-color: #fff;
    opacity: 0.5;
    margin: 0 25px;
}
.f_menu>li:first-child>a{
    color: #FFCB13;
}
.f_menu>li:hover>a{
    color: #FFCB13;
    text-decoration: underline;
}
.sns_wrap>li>a{
    display: block;
    width: 50px; height: 50px;
    border-radius: 50%;
    margin-left: 5px;
    background-image: url('../img/ir-tmpl.png');
    transition: 0.3s;
}
.sns_wrap>li>a:hover{
    transform: translateY(-5px);
}
.fb{
    background-position: 0 -234px;
}
.in{
    background-position: -208px -234px;
}
.bl{
    background-position: -104px -234px;
}
.yt{
    background-position: -157px -234px;
}
.f_bot{
    justify-content: space-between;
    padding-top: 5px;
}
.f_bot>p{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 30px;
}
.tel{
    padding-left: 33px;
}
.family_site_wrap{
    align-items: center;
    gap: 5px;
    padding-top: 20px;
}
.family_site_wrap select{
    width: 200px;
    background: none;
    color: #fff;
    transition: 0.3s;
    padding: 10px 30px 10px 20px;
    appearance: none;
    background-image: url(../img/site5.svg);
    background-repeat: no-repeat;
    background-position: 165px 17px;
}
.family_site_wrap select:hover{
    color: #FFCB13;
}
.family_site_wrap select>option{
    background-color: #000;
    color: #fff;   
}
